.footer {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-size: 0.9rem;
  a {
    color: var(--primary-white);
  }
  .title {
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
  }
}
.footer-holder {
  padding: 2rem 0;
}
.footer-frame {
  background-color: var(--primary-blue-500);
  padding: 1rem 0;
  font-size: 0.8rem;
}
.social {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
